html{font-family: sans-serif;}
body{margin: 0 0; background-color: #f0f0f0;}

.navigation{
	background-color: #434446;
	padding: 30px 200px 30px 200px;
}
.nav_logo{
	background-color: #071313;
	padding: 15px 200px 15px 200px;
}
.content{
	padding: 20px 15px 20px 15px;
	/*background-color: white;*/
	margin: 0 100px 20 100px;
	/*border: 1px solid #dcdcdc;*/
	/*height: 650px;*/
}
.content_divider{
	padding-top: 20px;
	border-top: 1px solid #dcdcdc;
}
.footer{
	text-align: center;
	margin: 30px 0 30px 0;
	color: #666666;
	font-size: 14px;
}
ul {
    position: relative;
    list-style-type: none;
    margin-top: -15px;
    padding: 0;
    /*width: 200px;*/
    /*background-color: #f1f1f1;*/
    float: left;
}

li{float: left;}

li a {
    display: block;
    color: white;
    padding: 8px 17px 8px 17px;
    text-decoration: none;
    font-size: 14px;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 5px 1px #071313;
}
.active {
    background-color: #2c3635;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 5px 1px #071313;
}
.pricetitle{
	background-color: #16aa9e;
	padding: 8px;
	border-left: 5px solid #2f4c4a;
	color: white;
}

.kolom{
	position: relative;
	width: 97.5%;
	float: left;
	margin: 10px 10px;
	border: 1px solid #e5e7e6;
	border-radius: 5px;
	background-color: white;
	/*box-shadow: 1px 1px 1px grey;*/
}
.kolom p{
	font-size: 12px;
	font-weight: bold;
	color: #666666;
}
.kolom h3{
	font-weight: lighter;
	color: #666666;
}
.image{
	width: 100%;
}
@media (max-width: 1023px) {
	.content{
		padding: 20px 15px 20px 15px;
		margin: 0 10px 20 10px;
	}
}
@media (min-width: 320px) {
	.kolom{
		position: relative;
		width: 97.5%;
		float: left;
		margin: 10px 10px;
		border: 1px solid #e5e7e6;
	border-radius: 5px;
	background-color: white;
	}
	.image{
		width: 100%;
	}
}
@media (min-width: 800px) {
	.kolom{
		position: relative;
		width: 47%;
		float: left;
		margin: 10px 10px;
		border: 1px solid #e5e7e6;
	border-radius: 5px;
	background-color: white;
	}
	.image{
		width: 100%;
	}
}
@media (min-width: 1110px) {
	.kolom{
		position: relative;
		width: 22.5%;
		float: left;
		margin: 10px 10px;
		border: 1px solid #e5e7e6;
	border-radius: 5px;
	background-color: white;
	}
	.image{
		width: 100%;
	}
}

.kolom100{
	position: relative;
	width: 100%;
	float: left;
	margin: 10px 15px;
}
.kolom50{
	position: relative;
	width: 48.5%;
	float: left;
	margin: 10px 5px;
}
.kolom50_2{
	position: relative;
	width: 47.5%;
	float: left;
	
}
.kolom25{
	position: relative;
	width: 25%;
	float: left;
	margin: 10px 15px;
}
.kolom75{
	position: relative;
	width: 75%;
	float: left;
	margin: 10px 15px;
}

.luas{
	position: relative;
	float: left;
	width: 20.3%;
	background-color: #f0f0f0;
	padding: 8px 10px;
	border-top: 1px solid #dcdcdc;
	color: #666666;
	font-size: 11px;
}
.bed{
	position: relative;
	float: left;
	width: 20.3%;
	background-color: #f0f0f0;
	padding: 8px 10px;
	border-top: 1px solid #dcdcdc;
	border-left: 1px solid #dcdcdc;
	color: #666666;
	font-size: 11px;
}
.bath{
	position: relative;
	float: left;
	width: 20.3%;
	background-color: #f0f0f0;
	padding: 8px 10px;
	border-top: 1px solid #dcdcdc;
	border-left: 1px solid #dcdcdc;
	color: #666666;
	font-size: 11px;
}
.garage{
	position: relative;
	float: left;
	width: 20.3%;
	background-color: #f0f0f0;
	padding: 8px 10px;
	border-top: 1px solid #dcdcdc;
	border-left: 1px solid #dcdcdc;
	color: #666666;
	font-size: 11px;
}

.paragraf{
	margin-top: 50px;
	padding-left: 15px;
	font-size: 14px;
	color: #666666;
}

.linkread{
	text-decoration: none;
	color: #16aa9e;
}
